﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Doctor/DoctorMasterHome.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Doctor_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

