﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Doctor/DoctorMasterHome.master" AutoEventWireup="true" CodeFile="DoctorHome.aspx.cs" Inherits="Doctor_DoctorHome" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
   
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form runat="server">
    <table >
        <tr>
             <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
       </form>
</asp:Content>

