
/*=======================================
Template Design By WpFreeware Team.
Author URI : http://www.wpfreeware.com/
========================================*/

.scrollToTop {
  background-color: #ffd133;
  border:1px solid #ffd133;
}
.scrollToTop:hover, .scrollToTop:focus,.readmore_area a::before,.sl-slider h2> strong,.sl-slider p> strong,
.single-top-feature .readmore_area a span,.service-icon-effect,.service-icon .service-icon-effect:hover,.single-service>h3 a:hover,.single-service>h3 a:focus,
.whyChoose-right .media-heading,.whyChoose-right .media:hover .media-icon,.doctors-nav figcaption h2,
.testimonial-cotent > p span,.testimonial-nav .slick-dots li.slick-active button::before,.blog-comments-box li > h2,.blog-comments-box li span,
.blog-author > ul > li a:hover,.footer-service li > a:hover,.footer-service li > a span,.contact-info > p span,.footer-copyright>p>a,
.blog-breadcrumbs-right .breadcrumb > li a:hover,.blog-breadcrumbs-right .breadcrumb > .active,.blog-details blockquote::before,.blog-details blockquote::after,
.sidebar-widget p>a,.sidebar-widget>ul li>a:hover,.postnav-left:hover .navg-title,.postnav-right:hover .navg-title,.author-name:hover,
.similar-post .media-body a:hover,.similar-post > h2,.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,
.button--itzel .button__icon,.button--itzel > span,#myModal .modal-title,
.form-submit input:hover,.error-page-area h1,.error-page-area h3{
  color: #ffd133;   
}
.navbar-default {
  background-color: #ffd133;
  border-color: #ffd133; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,.readmore_area a span,.single-top-feature,
.single-top-feature .readmore_area a::before,.testimonial-nav .slick-dots li.slick-active,figure.blog-figure .image-effect::before,
.footer-middle,.social-share ul li > a,.custom-panel .panel-heading a,.nav-tabs > li > a,a.gallery-iteam .image-effect::before,.comments-title::after,
.reply-btn,.author-tag  {
  background-color: #ffd133;  
}
.navbar-right .dropdown-menu,.navbar-nav .open .dropdown-menu,
.wp-form-control:focus {
  border: 1px solid #ffd133; 
}
.navbar-right .dropdown-menu::before {
  border-left: 1px solid #ffd133;
  border-top: 1px solid #ffd133;
}
.nav-arrows span:hover {
  border-color: #ffd133;
  color: #ffd133;
}
.line {
  border-bottom: 2px solid #ffd133;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  margin: 0 auto 45px;
  padding: 5px;
  position: relative;
  width: 120px;
}
.line::after, .line::before {
  border: medium solid transparent;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.line::before {
  border-width: 9px;
  margin-left: -6px;
}
.line::after {
  border-top-color: #ffd133;
  border-width: 8px;
  margin-left: -8px;
}
.service-icon .service-icon-effect {
  box-shadow: 0 0 0 4px #ffd133;
}
.service-icon .service-icon-effect:after {
  box-shadow: 3px 3px #ffd133;
}
.media-icon {
  background-color: #ffd133;
  border: 2px solid #ffd133;
}
.doctors-nav figure button:hover{
  border-color: #ffd133;
  color:#ffd133;
}
.single-doctor-social > a:hover{
  color: #ffd133;
  border-color: #ffd133;
}
.testimonial-img {
  border: 3px solid #ffd133;  
}
.testimonial-nav .slick-dots li,.blog-content .readmore_area a,.wp-form-control,
.button--itzel::before,.error-page-area .readmore_area a {
  border: 2px solid #ffd133;
} 
.tag-nav a:hover,.tag-nav a:focus{
  background-color: #ffd133;
  border-color: #ffd133;
}
.footer-service li > a{
  border-bottom: 1px solid #ffd133;
}
.footer-copyright>p>a:hover{
 border-bottom: 1px solid #ffd133; 
}
.footer-social a {
  border: 1px solid #ffd133;
  color: #ffd133;
}
.footer-bottom p a:hover,.footer-bottom p a:focus{
  border-color: #ffd133;
  color: #ffd133;
}
.blog-pagination .pagination > li > a:focus, .blog-pagination .pagination > li > a:hover, .blog-pagination .pagination > li > span:focus,
.blog-pagination .pagination > li > span:hover {
  background-color: #ffd133;
  border-color: #ffd133;
}
.sidebar-widget h3::after {
  background: none repeat scroll 0 0 #ffd133;
}
.archives li > a:hover {
  background-color: #ffd133;
  border-color: #ffd133;
}
.postnav-left a:hover, .postnav-right a:hover {
  border: 1px solid #ffd133;  
  color: #ffd133;  
}
.postnav-left:hover .prev-icon,.postnav-right:hover .next-icon{
  color: #ffd133;
  border-color: #ffd133;
}
.post-author > h3 {
  border-bottom: 1px solid #ffd133;
  color: #ffd133;  
}
.author-morepost:hover,.author-morepost:focus {
  border-bottom: 1px solid #ffd133;
  color: #ffd133; 
}
.nav-tabs > li > a:hover,.nav-tabs > li > a:focus{
  background-color: #ffd133;
  border-color: #ffd133;  
}
.form-submit input {
  background-color: #ffd133;
  border: 1px solid #ffd133;
}
.pswp__caption__center {
  color: #ffd133 !important;
}
.pswp__button--arrow--left::before, .pswp__button--arrow--right::before {
  background-color: #ffd133 !important;    
}
.comments-pagination li a:hover {
  background-color:#ffd133;
  border-color: #ffd133; 
}
#respond input[type="text"]:focus,#respond input[type="email"]:focus,#respond input[type="url"]:focus {
  border-color: #ffd133;
}
#respond textarea:focus{
  border-color: #ffd133;
}
.blog-details .table-hover tbody tr:hover{
  background-color: #ffd133;
  border-color: #ffd133;
}
.blog-details>a:hover,
.blog-details>a:focus,
.blog-details > p>a:hover,
.blog-details > p>a:focus{
  color: #ffd133;
  border-bottom: 1px solid #ffd133;
}
.testimonial-parg::before {
  color: #ffd133;  
}
.testimonial-parg:after{ 
  color: #ffd133;
}
.top-slider .slick-prev:hover,
.top-slider .slick-next:hover{
  border-color: #ffd133;
  color: #ffd133;
}
.slider-text h2>strong{
  color: #ffd133;
}
.slider-text p>strong{
  color: #ffd133;
}

.btn {
  background: #3e08f2;
  background-image: -webkit-linear-gradient(top, #3e08f2, #3c7ae6);
  background-image: -moz-linear-gradient(top, #3e08f2, #3c7ae6);
  background-image: -ms-linear-gradient(top, #3e08f2, #3c7ae6);
  background-image: -o-linear-gradient(top, #3e08f2, #3c7ae6);
  background-image: linear-gradient(to bottom, #3e08f2, #3c7ae6);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 3px 3px 2px #05181f;
  -webkit-box-shadow: 2px 2px 2px #0b397d;
  -moz-box-shadow: 2px 2px 2px #0b397d;
  box-shadow: 2px 2px 2px #0b397d;
  font-family: Georgia;
  color: #fffcff;
  font-size: small;
  padding: 12px;
  border: solid #142fe0 2px;
  text-decoration: none;
}

.btn:hover {
  background: #0c806d;
  background-image: -webkit-linear-gradient(top, #0c806d, #16a88b);
  background-image: -moz-linear-gradient(top, #0c806d, #16a88b);
  background-image: -ms-linear-gradient(top, #0c806d, #16a88b);
  background-image: -o-linear-gradient(top, #0c806d, #16a88b);
  background-image: linear-gradient(to bottom, #0c806d, #16a88b);
  text-decoration: none;
}

.buttonyellow {
    background: #c0d900;
    background-image: -webkit-linear-gradient(top, #c0d900, #c9ed00);
    background-image: -moz-linear-gradient(top, #c0d900, #c9ed00);
    background-image: -ms-linear-gradient(top, #c0d900, #c9ed00);
    background-image: -o-linear-gradient(top, #c0d900, #c9ed00);
    background-image: linear-gradient(to bottom, #c0d900, #c9ed00);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 3px 4px 17px #51d110;
    -moz-box-shadow: 3px 4px 17px #51d110;
    box-shadow: 3px 4px 17px #51d110;
    font-family: Georgia;
    color: #f7f7f7;
    font-size: 12px;
    padding: 5px 31px 6px 31px;
    border-top: solid #0ef25e 1px;
    text-decoration: none;
}

.buttonyellow:hover {
  background: #d6fa0d;
  background-image: -webkit-linear-gradient(top, #d6fa0d, #656b13);
  background-image: -moz-linear-gradient(top, #d6fa0d, #656b13);
  background-image: -ms-linear-gradient(top, #d6fa0d, #656b13);
  background-image: -o-linear-gradient(top, #d6fa0d, #656b13);
  background-image: linear-gradient(to bottom, #d6fa0d, #656b13);
  text-decoration: none;
}


.input[type=radio] + label {
		border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #b3b3b3;
    display:inline-block;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 20px;
		line-height: 20px;
		color: blue;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-repeat: repeat-x;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
}

innput[type=radio]:checked + label {
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}


 


.linkbtn {
     background-color: yellow;
}

.linkbtn:visited {
    background-color:yellow;
    color:white;
}

.linkbtn:hover {
    background-colorredn;
    color:white;
}

.linkbtn:active {
    background-color: red;
}


/*Not for a label*/
.labeltext {
color: darkblue;
font-weight: bold;
display:compact;
width: 1000px;
float: left;
text-align:left;
}


.label_small {
color:#142fe0;
font-weight: bold;
display: block;
width: 150px;
float: left;
text-align:left;
}


.label {
color: #142fe0;
font-weight: bold;
display: block;
width: 400px;
float: left;
text-align:left;
}

.twitter {
    color: #142fe0;
font-weight: bold;
display: block;
width: 650px;
float: left;
text-align:left;
}

.label_black {
color:black;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

.search_categories{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  }

.twittertextarea {
 border: 1px solid #c4c4c4;
    width:358px;
    height: 30px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;

}

.twittertextarea1 {
 border: 1px solid #c4c4c4;
  
    width:100%;height: 40%;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

 input.twitterStyleTextbox {
    border: 1px solid #c4c4c4;
    wi20%;height: 30px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

input.twitterStyleTextbox:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    text-align:left;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
.search_categories .select{
  width: 120%;
  /*background:url('arrow.png') no-repeat;*/
  background-position:80% center;
}

.search_categories .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}


/*put in flexslider*/
.drop_menu {
	background:#2684B7;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
	font:12px arial, verdana, sans-serif;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#5FD367; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#5FD367;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#5FD367;
}
.drop_menu li:hover ul li a:hover { background:#005555; }


.justify{
    text-align:justify;

}

.bold{
    font-weight:bold;

}

.center{
    font-weight:bold;
    text-align:center;
    width: 800px;
    color:darkorchid;
    font-size:medium;
}

.right{text-align:right;}

.nostart{margin:0; padding:0; list-style-type:none;}

.clear{clear:both;}


/*=======================================
Template Design By WpFreeware Team.
Author URI : http://www.wpfreeware.com/
========================================*/