﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FirstMaster.master" AutoEventWireup="true" CodeFile="Employee_Home.aspx.cs"Inherits="Employee_Home"  %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style2" colspan="3"><strong>NEW EMPLOYEE </strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="btn_new_registration" runat="server" Height="55px" OnClick="btn_new_registration_Click" Text="New Registration" Width="280px" />
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="Button3" runat="server" Height="55px" Text="Button" Width="280px" />
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="Button4" runat="server" Height="55px" Text="Button" Width="280px" />
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
        </form>
</asp:Content>

