﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage2.master" AutoEventWireup="true" CodeFile="ErrorPage.aspx.cs" Inherits="ErrorPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title></title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <form runat="server">
        <center>
       
                 <table>
    <tr>
        <td style="color: #FF0000">
            <h3>Error</h3>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="color: #FF0000">PAGE NOT FOUND!!!!!!!!!!!!!!</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="color: #FF0000">
            <h5>Ahhhhhhhhhhh! This page doesn't exist</h5>
            </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="color: #FF0000">Not to worry. You can either go back to our homepage</td>
        <td></td>
    </tr>
    <tr>
        <td><a data-hover="Back To Home" href="RegHome.aspx"><span>
            <%--<asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CssClass="linkbtn">Back To Home</asp:LinkButton>--%>
            <asp:Button ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" Text="Back To Home" CssClass="buttonyellow"></asp:Button>
            </span></a></td>
        <td>&nbsp;</td>
    </tr>
</table>

      </center>

    </form>
</asp:Content>

