﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage2.master" AutoEventWireup="true" CodeFile="Intern_Reg.aspx.cs" Inherits="Intern_Reg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title></title>
    
<link rel="shortcut icon" type="image/icon" href="images/favicon.ico"/>
<link href="css/bootstrap.min.css" rel="stylesheet">
 <link href="css/font-awesome.min.css" rel="stylesheet">
 <link id="switcher" href="css/themes/default-theme.css" rel="stylesheet">
<link href="css/slick.css" rel="stylesheet">
<link rel='stylesheet prefetch' href='css/photoswipe.css'>
 <link rel='stylesheet prefetch' href='css/default-skin.css'>    
<link href="style.css" rel="stylesheet">
    <link href="css/themes/default-theme.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form runat="server">
    <table >
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><asp:Image ID="Image3" runat="server" Height="90px" Width="90px"/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><asp:FileUpload ID="FileUpload1" runat="server" CssClass="auto-style10" ForeColor="Gray" /></td>
        </tr>
        <tr>
            <td>
                    <asp:Label ID="Label12" runat="server" CssClass="label_small" Text="Upload Photo"></asp:Label>
                </td>
                <td>
                    <asp:FileUpload ID="FileUpload2" runat="server" />
                    <asp:Button ID="btn_upload" runat="server" Text="Upload" OnClick="btn_upload_Click" BorderStyle="Double" CssClass="buttonyellow"/>
                    <asp:Button ID="Button1" runat="server" Text="Button" OnClick="btn_upload_Click" />
                </td>
        </tr>
        <tr>
            <td>
                    <asp:Button ID="btn_register" runat="server" CssClass="buttonyellow" OnClick="btn_register_Click" Text="REGISTER" />
                </td>
                <td>
                    &nbsp;</td>
        </tr>
    </table>
        </form>
</asp:Content>

