﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Stock/StockMaster.master" AutoEventWireup="true" CodeFile="StockHome.aspx.cs" Inherits="Stock_StockHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

<%-- Add content controls here --%>
