﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Registration/RegMasterHome.master" AutoEventWireup="true" CodeFile="RegHome.aspx.cs" Inherits="Registration_RegHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

