﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/AdminMasterHome.master" AutoEventWireup="true" CodeFile="Superend.aspx.cs" Inherits="Admin_Superend"  %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

   <title></title>
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      </asp:Content>