﻿
<%@ Page Title="" Language="C#" MasterPageFile="~/Nurse/NurseMaster.master" AutoEventWireup="true" CodeFile="Nurse_home.aspx.cs" Inherits="Nurse_Nurse_home" %>

<script runat="server">  
</script>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
    <title></title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" /> 
    
    <style type="text/css">
        .auto-style1 {
            text-align: right;
        }
        .auto-style2 {
            text-align: left;
        }
        .auto-style3 {
            font-size: medium;
        }
        .auto-style4 {
            text-align: center;
            width: 298px;
        }
        .auto-style5 {
            width: 298px;
        }
        .auto-style6 {
            text-align: left;
            width: 298px;
        }
    </style>
    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
   <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1">
            <tr>
                <td>&nbsp;</td>
                <td class="auto-style5">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td class="auto-style4"><strong>
                    <asp:LinkButton ID="lbtn_obv" runat="server" OnClick="lbtn_obv_Click" CssClass="auto-style3">OBSERVATION</asp:LinkButton>
                    </strong></td>
                <td>;</td>
            </tr>
            <tr>
                <td class="auto-style2">
                    &nbsp;</td>
                <td class="auto-style6"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;</td>
                <td class="auto-style4"><strong>
                    <asp:LinkButton ID="lbtn_IP" runat="server" OnClick="lbtn_IP_Click" CssClass="auto-style3">IP PATIENTS</asp:LinkButton>
                    </strong></td>
                <td>&nbsp;</td>
            </tr>

        </table>
    
    </div>
 
</form>
</asp:Content>




