body {
	text-align:center;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
#wrap {
	width:800px;
	text-align:left;
	margin:0 auto;
	background:url(images/bg.png) no-repeat
}
.float-l {
	float:left
}
.folat-r {
	float:right
}
.clearfix {
	clear:both
}
/* header */
#header {
	background:url(images/hd.gif) no-repeat;
	height:132px
}
#header h1 {
	font-size:38px;
	padding-top: 32px;
	padding-left: 80px;
	color:#294352
}
#header h1 span {
	font-size:16px
}
ul#nav {
	padding-left:40px;
	overflow:hidden;
}
ul#nav li {
	float:left;
	height:50px;
}
ul#nav li a {
	color:#fff;
	font-weight:700;
	height:50px;
	padding:16px 20px;
	margin:0 25px;
	line-height:50px;
	width:100px
}
ul#nav li a:hover {
	background:url(images/nav_hover.gif) no-repeat;
	height:50px;
	padding:16px 20px;
	margin:0 25px;
	line-height:50px;
}
/* content */
#content {
	background:url(images/content.gif) no-repeat;
	height:538px;
	padding:0 15px;
	color:#fff
}
#content a {
	color:#b9dbf5
}
.left {
	width: 260px;
	padding-left:35px
}
.left h2, .blog h2 {
	font-size:26px;
	font-weight:700;
	padding:20px 0
}
#inner {
	padding-top:80px
}
.right {
	width: 330px;
	padding-right: 40px;
}
.blog {
	height: 150px;
	padding-bottom: 40px;
}
/* footer */
#footer {
	background:url(images/ft.gif) no-repeat;
	height:100px;
	text-align:center;
	padding-top: 30px;
	color:#fff
}
#footer a {
	color:#fff
}
