﻿
<%@ Page Title="" Language="C#" MasterPageFile="~/Nurse/NurseMaster.master" AutoEventWireup="true" CodeFile="WardHome.aspx.cs" Inherits="WardHome" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {}
        .auto-style5 {
            font-size: x-large;
            color: #333399;
            text-align: center;
        }
        .auto-style8 {            height: 23px;
        }
        .auto-style9 {
            width: 200px;
        }
        </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style2" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style2" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style2" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style5" colspan="2"><strong style="color: #0000CC">BED ALLOCATIONS</strong></td>
        </tr>
        <tr>
            <td class="auto-style8" colspan="2"></td>
        </tr>
        <tr>
            <td class="auto-style9">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        </table>
    </form>
</asp:Content>




