﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RMO/RMOMasterHome.master" AutoEventWireup="true" CodeFile="RMOHome.aspx.cs" Inherits="RMO_RMOHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
</asp:Content>

