﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HeadNurse/HeadNurseMaster.master" AutoEventWireup="true" CodeFile="AllocatePage.aspx.cs" Inherits="HeadNurse_AllocatePage" %>
<script runat="server">  
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title></title>
     
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server" >
    <div>
    <center>    
           <table>
            
            <tr class="auto-style3">
                <td class="auto-style7"></td>
                <td class="auto-style7"></td>
            </tr>
            <tr>
                <td class="label_small">Enter CardNo</td>
                <td class="auto-style12">
                    <asp:TextBox ID="txt_cardno" runat="server" CssClass="twitterStyleTextbox"></asp:TextBox>
                    <asp:Button ID="btn_srch" runat="server" OnClick="btn_srch_Click" Text="Search" CssClass="buttonyellow" />
                </td>
            </tr>
            <tr>
                <td class="label_small">Patient Name</td>
                <td class="auto-style1">
                    <asp:Label ID="lbl_name" runat="server" CssClass="label_black"></asp:Label>
                </td>
            </tr>
            <tr class="auto-style3">
                <td class="label_small">Age</td>
                <td class="auto-style10">
                    <asp:Label ID="lbl_age" runat="server" CssClass="label_black"></asp:Label>
                </td>
            </tr>
            <tr class="auto-style3">
                <td class="label_small">Gender</td>
                <td>
                    <asp:Label ID="lbl_gen" runat="server" CssClass="label_black"></asp:Label>
                </td>
            </tr>
            <tr class="auto-style3">
                <td>&nbsp;</td>
                <td></span></td>
            </tr>
            <tr>
                <td>
                    <asp:Button ID="btn_alloc" runat="server" OnClick="btn_alloc_Click" Text="Allocate Bed" CssClass="buttonyellow" />
                </td>
                <td class="auto-style3"><span class="auto-style8"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></span></td>
            </tr>
        </table>
    </center>
 
    </div>

    </form>
</asp:Content>
