﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="HeadNurseMasterHome.master.cs" Inherits="HeadNurse_HeadNurseMasterHome" %>

<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>--HMS--</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="shortcut icon" type="image/icon" href="../images/favicon.ico" />
     <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>
     <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
   <link href="../css/slick.css" rel="stylesheet">
    <link  href="../css/themes/default-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/photoswipe.css">
    <link rel="stylesheet" href="../css/default-skin.css" >
    <link href="../style.css" rel="stylesheet" />
    <link href="../css/themes/default-theme.css" rel="stylesheet" />
    
     
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <form>
        <div>
            <div>
            </div>

            <!-- BEGAIN PRELOADER -->
            <div id="preloader">
                <div id="status">&nbsp;</div>
            </div>
            <!-- END PRELOADER -->

            <!-- SCROLL TOP BUTTON -->
            <a class="scrollToTop" href="HeadHome.aspx"><i class="fa fa-heartbeat"></i></a>
            <!-- END SCROLL TOP BUTTON -->

            <!--=========== BEGIN HEADER SECTION ================-->
            <header id="header">
                <!-- BEGIN MENU -->
                <div class="menu_area">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- LOGO -->
                                <!-- TEXT BASED LOGO -->
                                <a class="navbar-brand" href="#"><i class="fa fa-heartbeat"></i><span style="font-family: Georgia; font-size: 30px; font-weight: bold">Govt.Medical College Hospital </span></a>
                                <!-- IMG BASED LOGO  -->
                                <!--  <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>   -->
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                                    <li><a href="HeadHome.aspx">Home</a></li>
                                    <li><a href="Observation_list.aspx">Observation</a></li>
                                    <li><a href="IPAdmission_list.aspx">In-Patients</a></li>
                                    <li><a href="NursesSchedule.aspx">Nurse Schedule</a></li>
                                    <li><a href="PrintDischargeSummary.aspx">Discharge Summary</a></li>
                                     <li><a href="PatientStatus.aspx">Patient Status</a></li>
                                                             
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="fa fa-angle-down"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="ChangeUsernameHnurse.aspx">Change Username</a></li>
                                            <li><a href="ChangePassword_Hnurse.aspx">Change Password</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="../Home.aspx">LogOut</a></li>
                                  

                                   </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
                <!-- END MENU -->
            </header>
            <!--=========== END HEADER SECTION ================-->

            <!--=========== BEGIN SLIDER SECTION ================-->
            <section id="sliderArea">
                <!-- Start slider wrapper -->
                <div class="top-slider">
                    <!-- Start First slide -->
                    <div class="top-slide-inner">
                        <div class="slider-img">
                            <img src="images/14.jpg" alt="">
                        </div>
                       
                    </div>
                    <!-- End First slide -->

                    <!-- Start 2nd slide -->
                    <div class="top-slide-inner">
                        <div class="slider-img">
                            <img src="images/15.jpg" alt="">
                        </div>
                        
                    </div>
                    <!-- End 2nd slide -->

                    <!-- Start Third slide -->
                    <div class="top-slide-inner">
                        <div class="slider-img">
                            <img src="images/7.jpg" alt="">
                        </div>
                       
                    </div>
                    <!-- End Third slide -->

                    <!-- Start Fourth slide -->
                    <div class="top-slide-inner">
                        <div class="slider-img">
                            <img src="images/12.jpg" alt="">
                        </div>
                       
                    </div>
                    <!-- End Fourth slide -->

                    <!-- Start Fifth slide -->
                    <div class="top-slide-inner">
                        <div class="slider-img">
                            <img src="images/9.jpg" alt="">
                        </div>
                        <%--  <div class="slider-text">
            <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
            <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
            <div class="readmore_area">
              <a data-hover="Read More" href="#"><span>Read More</span></a>                
            </div>
          </div>--%>
                    </div>
                    <!-- End Fifth slide -->
                </div>
                <!-- /top-slider -->
            </section>
            <!--=========== END SLIDER SECTION ================-->

            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!--=========== BEGIN Top Feature SECTION ================-->

            <section id="topFeature">

                <div class="row">
                    <!-- Start Single Top Feature -->
                    <div class="col-lg-3 col-md-5">
                        <div class="row">
                            <div class="single-top-feature">
                                <span class="fa fa-flask"></span>
                                <h3>Home</h3>
                                <p>Admin Home</p>
                                <div class="readmore_area">
                                    <a href="HeadHome.aspx" data-hover="HEAD NURSE "><span>Head Nurse Home</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Start Single Top Feature -->
                    <div class="col-lg-3 col-md-5">
                        <div class="row">
                            <div class="single-top-feature">
                                <span class="fa fa-hospital-o"></span>
                                <h3>OBSERVATION</h3>
                                <p>Click Here.</p>
                                <div class="readmore_area">
                                    <%-- <a data-toggle="modal" data-target="#myModal" href="EmployeeRegistration.aspx" data-hover="New Employee Registration"><span>Employee Registration</span></a>--%>
                                    <a href="Observation_list.aspx" data-hover="Observation"><span>Patients In Observation </span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Top Feature -->
                    <!-- Start Single Top Feature -->
                    <div class="col-lg-3 col-md-5">
                        <div class="row">
                            <div class="single-top-feature">
                                <span class="fa fa-hospital-o"></span>
                                <h3>In-Patients</h3>
                                <p>Click Here.</p>
                                <div class="readmore_area">
                                    <%-- <a data-toggle="modal" data-target="#myModal" href="EmployeeRegistration.aspx" data-hover="New Employee Registration"><span>Employee Registration</span></a>--%>
                                    <a href="IPAdmission_list.aspx" data-hover="View IP Patients"><span>View IP Patient</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Top Feature -->


                    <!-- Start Single Top Feature -->
                    <div class="col-lg-3 col-md-5">
                        <div class="row">
                            <div class="single-top-feature opening-hours">
                                <span class="fa fa-hospital-o"></span>
                                <h3>Sign Out</h3>
                                <p>Click here.</p>
                                <div class="readmore_area">
                <%--<a data-toggle="modal" data-target="#myModal" href="InternRegistrationForm.aspx" data-hover="New Intern Registration"><span>Intern Registration</span></a>  --%>

                                <a href="../Home.aspx" data-hover="SignOut"><span>SignOut</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                <!-- End Single Top Feature -->

              

                <!--=========== Start Footer SECTION ================-->
                <footer id="footer">
                    
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-widget">
                            <div class="section-heading">
                                <h2>Projects</h2>
                                <div class="line"></div>
                            </div>
                            <ul class="tag-nav">
                                <li><a href="#">Sithalayam</a></li>
                                <li><a href="#">Sathgamaya</a></li>
                                <li><a href="#">Deadiction</a></li>
                                <li><a href="#">Infertility</a></li>
                                <li><a href="#">Renal Stone</a></li>
                                <li><a href="#">Diabetes</a></li>
                            </ul>
                        </div>
                    </div>
                
                    <!-- Start Footer Middle -->
                    <div class="footer-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-copyright">
                                        <p>Copyright 2016 <a href="index.html">HMS</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Footer Bottom -->
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Design & Developed By <a rel="nofollow" href="#">Merin&Vandhana</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!--=========== End Footer SECTION ================-->

                <!-- jQuery Library  -->
                <script src="../js/jquery.js"></script>
                <!-- Bootstrap default js -->
                <script src="../js/bootstrap.min.js"></script>
                <!-- slick slider -->
                <script src="../js/slick.min.js"></script>
                <script type="text/javascript" src="../js/modernizr.custom.79639.js"></script>
                <!-- counter -->
                <script src="../js/waypoints.min.js"></script>
                <script src="../js/jquery.counterup.min.js"></script>
                <!-- Doctors hover effect -->
                <script src="../js/snap.svg-min.js"></script>
                <script src="../js/hovers.js"></script>
                <!-- Photo Swipe Gallery Slider -->
                <script src='../js/photoswipe.min.js'></script>
                <script src='../js/photoswipe-ui-default.min.js'></script>
                <script src="../js/photoswipe-gallery.js"></script>

                <!-- Custom JS -->
                <script src="../js/custom.js"></script>
        </div>
    </form>
</body>
</html>
