﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HeadNurse/HeadNurseMasterHome.master" AutoEventWireup="true" CodeFile="HeadHome.aspx.cs" Inherits="HeadNurse_HeadHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

