﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HeadNurse/HeadNurseMaster.master" AutoEventWireup="true" CodeFile="IP_Admission.aspx.cs" Inherits="HeadNurse_IP_Admission" %>
<script runat="server">  
</script>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
    <title></title>
     
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <table>
       
        <tr>
            <td>
            </td>
            <td>
                <%--<asp:LinkButton ID="Link_Female" runat="server" CssClass="auto-style11" OnClick="Link_Female_Click">Female Ward</asp:LinkButton>--%>
            <asp:Button ID="Link_Female" runat="server" Text="Female Ward" OnClick="Link_Female_Click" CssClass="btn-info" Width="100px" />
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_occ_fem" runat="server" CssClass="label_small"></asp:Label>
                <%--<asp:Button ID="Button2" runat="server" Text="Male Ward" OnClick="Link_Male_Click" />--%>
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_unocc_fem" runat="server" CssClass="label_small"></asp:Label>
                <%--<asp:Button ID="Button1" runat="server" Text="Male Ward" OnClick="Link_Male_Click" />--%>
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                </td>
            <td class="auto-style20">
                <%--<asp:LinkButton ID="Link_Male" runat="server" OnClick="Link_Male_Click">Male Ward</asp:LinkButton>--%>
                <asp:Button ID="Link_Male" runat="server" Text="Male Ward" OnClick="Link_Male_Click" CssClass="btn-info" Width="100px" />
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_occ_mal" runat="server" CssClass="label_small"></asp:Label>
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_unocc_mal" runat="server" CssClass="label_small"></asp:Label>
                
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                &nbsp;</td>
            <td class="auto-style20">
                <%--<asp:LinkButton ID="Link_Pay" runat="server" CssClass="auto-style11" OnClick="Link_Pay_Click">Pay ward</asp:LinkButton>--%>
             <asp:Button ID="Link_Pay" runat="server" Text="Pay Ward" OnClick="Link_Pay_Click" CssClass="btn-info" Width="100px" />
            
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_occ_pay" runat="server" CssClass="label_small"></asp:Label>
            </td>
            <td class="auto-style20">
                <asp:Label ID="lbl_unocc_pay" runat="server" CssClass="label_small"></asp:Label>
            </td>
        </tr>
        </table>
    
        
    
    </form>

</asp:Content>
