﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HeadNurse/HeadNurseMaster.master" AutoEventWireup="true" CodeFile="WardHome.aspx.cs" Inherits="HeadNurse_WardHome" %>


<script runat="server">  
</script>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
   
    <title></title>
    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <form id="form1"  runat="server">
    <table>
        <tr>
            <td class="auto-style21" colspan="2"></td>
        </tr>
        <tr>
            <td class="auto-style22" colspan="2"></td>
        </tr>
        <tr>
            <td class="center" colspan="2"><strong>BED ALLOCATIONS</strong></td>
        </tr>
        <tr>
            <td class="auto-style5" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style8" colspan="2"></td>
        </tr>
        <tr>
            <td class="auto-style9">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        </table>
    </form>
</asp:Content>




