﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Nurse/NurseMasterHome.master" AutoEventWireup="true" CodeFile="NurseHome.aspx.cs" Inherits="Nurse_NurseHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

